// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Main styles

.rouble-icon {
    content: "₽";
    position: relative;
    font-size: 13px;
    color: rgba(0,0,0,.8);
    font-weight: inherit;
}
